td {
font-family: sans-serif;
}

body {
background-color: white;
}

table {
align: center;
text-align: center;
}

input {
size: 75%
}

h2 {
text-align: center;
color:black;
font-family: serif;
font-size: 28px;
font-weight: bold
}

th {
text-align: left;
font-family: sans-serif;
font-weight: normal
}

button {
text-align: right;
font-family: sans-serif;
font-weight: normal
}

p {
font: 12pt/10pt sans-serif;
}